<!DOCTYPE html>
<html>
  <body>
    <h1>Edit Item</h1>
    <form action="/packers/@Model.Id" method="post">
      <label for="itemName">New item name</label>
      <input id="itemName" name="itemName" type="text"><br>
      <label for="itemPrice">New price</label>
      <input id="itemPrice" name="itemPrice" type="number"><br>
      <label for="purchased">Did you purchased yet ?</label>
      <select class="form-control" name="purchased">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select><br>
      <label for="packed"> Did you packed yet ?</label>
      <select class="form-control" name="packed">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select><br>
      <button type="submit">Submit</button>
    </form>
    <a href='/packers'><button>Cancel</button></a>
  </body>
</html>