<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Packertracker</h1>
    <form action="/packers" method="post">
      <label for="itemName">Add a new item</label>
      <input id="itemName" name="itemName" type="text"><br>
      <label for="itemPrice">Add it's price</label>
      <input id="itemPrice" name="itemPrice" type="number"><br>
      <label for="purchased">Did you purchased yet ?</label>
      <input id="purchased" name="purchased" type="bool"><br>
      <label for="packed"> Did you packed yet ?</label>
      <input id="packed" name="packed" type="bool"><br>
      <button type="submit">Submit</button>
    </form>
    <a href='/packers'><button>Cancel</button></a>
  </body>
</html>