@using PackerTracker.Models;

<h1> Packer Tracker List Item Details:</h1>
<p>Item: @Model.ItemName</p>
<p>Price: $@Model.ItemPrice</p>
<p>Purchased?: @Model.Purchased</p>
<p>Packed?: @Model.Packed</p>
<a href='/packers/new'> Add another item</a>
<a href='/packers'> View all the packers </a>